<div>
    <toolbar></toolbar>
    <md-content id="storyboard">
        <div class="list-wrapper"
             ng-cloak
             ng-if="storyboard.lists.length && storyboard.stories.length">
            <ul class="list"
                ng-if="storyboard.lists.length"
                ng-repeat="list in storyboard.lists"
            >
                <h3 class="list-title">{{list.title}}</h3>
                <hr>

                <li class="story list-drop-zone">
                    <div class="drop-zone"
                         ondrop="angular.element(this).scope().drop(event)"
                         ondragover="angular.element(this).scope().dragOver(event)"
                         ondragleave="angular.element(this).scope().dragLeave(event)"
                         ondragend="angular.element(this).scope().dragEnd()"
                    >
                    </div>
                </li>

                <li ng-repeat="story in storyboard.stories | filter: { listId: list.id }"
                    ng-if="storyboard.stories.length"
                    ng-click="storyboard.setCurrentStory(story);
                              storyboard.showStoryDialog($event, 'edit')"
                    ng-attr-id="{{ story.id }}"
                    class="story"
                    draggable="true"

                    ondragstart="angular.element(this).scope().drag(event)"
                    ondrop="angular.element(this).scope().drop(event)"
                    ondragover="angular.element(this).scope().dragOver(event)"
                    ondragleave="angular.element(this).scope().dragLeave(event)"
                    ondragend="angular.element(this).scope().dragEnd()"
                >

                    <div class="story-container"
                         ondrop="angular.element(this).scope().drop(event)"
                         ondragover="angular.element(this).scope().dragOver(event)"
                         ondragleave="angular.element(this).scope().dragLeave(event)"
                         ondragend="angular.element(this).scope().dragEnd()"
                    >
                        <story-summary data="story"></story-summary>
                    </div>

                    <div class="drop-zone"
                         ondrop="angular.element(this).scope().drop(event)"
                         ondragover="angular.element(this).scope().dragOver(event)"
                         ondragleave="angular.element(this).scope().dragLeave(event)"
                         ondragend="angular.element(this).scope().dragEnd()"
                    >
                    </div>

                </li>

                <li class="mt-2 add-story-container">
                    <md-button class="md-fab md-mini md-primary-green md-hue-2"
                               aria-label="Add story"
                               ng-click="storyboard.setCurrentStory(null);
                                         storyboard.showStoryDialog($event, 'create', list.id)">
                        <i class="fa fa-plus"></i>
                    </md-button>
                </li>
            </ul>
        </div>
    </md-content>
</div>
