<md-dialog aria-label="List Dialog" class="list-dialog">
    <form ng-submit="submitAction()" ng-cloak>
        <md-toolbar class="bg-green">
            <div class="md-toolbar-tools">
                <h2>{{ actionLabel }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" layout="row" flex-gt-sm style="margin-bottom: 0;">
                    <label for="md-list-title">Title</label>
                    <input ng-model="listData.title"
                           ng-readonly="action === 'delete'"
                           id="md-list-title"
                           required>
                </md-input-container>
                <md-checkbox class="md-block"
                             layout="row"
                             ng-if="action === 'delete' && storiesInList.length"
                             ng-model="settings.deleteAllStoriesInList"
                             ng-readonly="!lists.length"
                             style="margin-bottom: 50px;"
                >
                    <span>Also delete all stories in this list</span>
                </md-checkbox>
                <md-input-container layout="row"
                                    class="md-block"
                                    ng-if="action === 'delete' && !settings.deleteAllStoriesInList && lists.length"
                >
                    <label>Move remaining stories to the list:</label>
                    <md-select ng-model="settings.targetListId">
                        <md-option ng-repeat="list in lists track by $index"
                                   ng-value="list.id">
                            {{ list.title }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <div flex="70" layout="row" layout-align="end">
                <md-button ng-click="closeDialog()" aria-label="Close Dialog">
                    CANCEL
                </md-button>
                <md-button type="submit"
                           ng-class="{'md-warn': action === 'delete', 'md-primary-green': action !== 'delete'}"
                           class="md-raised"
                           aria-label="Save">
                    {{ action.toUpperCase() }}
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>

<style>
    .list-dialog {
        width: 50% !important;
        max-width: 50% !important;
        background-color: #eee !important;
    }

    .md-dialog-content {
        padding: 20px !important;
    }

    md-dialog-actions {
        padding: 0 20px 10px 12px !important;
    }
</style>
