.drop-zone {
  height: 3px;
  width: 100%;
  //border: 1px dashed #eee;
  //margin: 5px 0;
  color: white;
  opacity: 0;
  //display: none;
}

.list-drop-zone {
  //min-height: 300px;
}

.dragging-story {
  opacity: 100% !important;
  background-color: red;
}

/*.drop-target {
  margin-top: 100px;
  border: 1px dashed #eee;
}*/
