<md-dialog aria-label="Story Dialog" class="story-dialog">
    <form ng-submit="submitAction()" ng-cloak>
        <md-toolbar class="bg-green">
            <div class="md-toolbar-tools">
                <h2>{{ actionLabel }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Title</label>
                    <input ng-model="storyData.title" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="storyData.description" md-maxlength="1000" rows="5"
                              md-select-on-focus></textarea>
                </md-input-container>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Status</label>
                        <md-select ng-model="storyData.listId">
                            <md-option ng-repeat="status in statuses" ng-value="status.id">
                                {{ status.title }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Type</label>
                        <md-select ng-model="storyData.type">
                            <md-option ng-repeat="type in types" ng-value="type.value">
                                {{ type.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <div flex="30" layout="row" layout-align="start">
                <md-button class="md-warn md-raised"
                           ng-click="deleteStory()"
                           ng-if="action === 'edit'">
                    DELETE
                </md-button>
            </div>
            <div flex="70" layout="row" layout-align="end">
                <md-button ng-click="closeDialog()">
                    CANCEL
                </md-button>
                <md-button type="submit" class="md-primary-green md-raised">
                    {{ action.toUpperCase() }}
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>

<style>
    .story-dialog {
        width: 50% !important;
        max-width: 50% !important;
        background-color: #eee !important;
    }

    .md-dialog-content {
        padding: 20px !important;
    }

    md-dialog-actions {
        padding: 0 20px 10px 12px !important;
    }
</style>
